body{
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#container{
   color: silver;
  
}
.stop{
    text-align: center;
    font-size: 60px;
    color: gold;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 25px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}
#start{
    background-color: forestgreen;
}
#stop{
    background-color: cornflowerblue;
}
#reset{
    background-color: rgb(218, 80, 80);
}
