body{
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#container{
   color: silver;
  
}
.stop{
    text-align: center;
    font-size: 90px;
    color: gold;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 45px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
#start{
    background-color: forestgreen;
}
#stop{
    background-color: cornflowerblue;
}
#reset{
    background-color: rgb(218, 80, 80);
}


/* ===================================================== */


@media only screen and (max-width: 826px){
    body{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    #container{
       color: silver;
      
    }
    .stop{
        text-align: center;
        font-size: 80px;
        color: gold;
    }
    .digit{
        font-size: 100px;
        font-weight: bold;
    }
    .txt{
        font-size: 40px;
        font-weight: bold;
    }
    #btn-container{
        text-align: center;
        margin-top: 40px;
    }
    .btn{
        padding: 7px 25px;
        font-size: 35px;
        margin: 0px 10px;
        color: white;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
    }
    #start{
        background-color: forestgreen;
    }
    #stop{
        background-color: cornflowerblue;
    }
    #reset{
        background-color: rgb(218, 80, 80);
    }
    
}

/* =============================================================== */


@media only screen and (max-width: 622px){

    body{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    #container{
       color: silver;
      
    }
    .stop{
        text-align: center;
        font-size: 70px;
        color: gold;
    }
    .digit{
        font-size: 90px;
        font-weight: bold;
    }
    .txt{
        font-size: 30px;
        font-weight: bold;
    }
    #btn-container{
        text-align: center;
        margin-top: 40px;
    }
    .btn{
        padding: 7px 25px;
        font-size: 35px;
        margin: 0px 10px;
        color: white;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
    }
    #start{
        background-color: forestgreen;
    }
    #stop{
        background-color: cornflowerblue;
    }
    #reset{
        background-color: rgb(218, 80, 80);
    }
    
}
/* ==================================================================== */


@media only screen and (max-width: 536px){

    body{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    #container{
       color: silver;
      
    }
    .stop{
        text-align: center;
        font-size: 60px;
        color: gold;
    }
    .digit{
        font-size: 70px;
        font-weight: bold;
    }
    .txt{
        font-size: 30px;
        font-weight: bold;
    }
    #btn-container{
        text-align: center;
        margin-top: 40px;
    }
    .btn{
        padding: 7px 25px;
        font-size: 35px;
        margin: 0px 10px;
        color: white;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-bottom: 12px;
    }
    #start{
        background-color: forestgreen;
    }
    #stop{
        background-color: cornflowerblue;
    }
    #reset{
        background-color: rgb(218, 80, 80);
    }
    
}


/* ======================================================================== */

@media only screen and (max-width: 459px){

    body{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    #container{
       color: silver;
      
    }
    .stop{
        text-align: center;
        font-size: 60px;
        color: gold;
    }
    .digit{
        font-size: 50px;
        font-weight: bold;
    }
    .txt{
        font-size: 30px;
        font-weight: bold;
    }
    #btn-container{
        text-align: center;
        margin-top: 40px;
    }
    .btn{
        padding: 7px 25px;
        font-size: 25px;
        margin: 0px 10px;
        color: white;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-bottom: 12px;
    }
    #start{
        background-color: forestgreen;
    }
    #stop{
        background-color: cornflowerblue;
    }
    #reset{
        background-color: rgb(218, 80, 80);
    }
    
}

/* ============================================================== */

@media only screen and (max-width: 375px){

    body{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    #container{
       color: silver;
      
    }
    .stop{
        text-align: center;
        font-size: 45px;
        color: gold;
    }
    .digit{
        font-size: 40px;
        font-weight: bold;
    }
    .txt{
        font-size: 30px;
        font-weight: bold;
    }
    #btn-container{
        text-align: center;
        margin-top: 40px;
    }
    .btn{
        padding: 7px 25px;
        font-size: 25px;
        margin: 0px 10px;
        color: white;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-bottom: 12px;
    }
    #start{
        background-color: forestgreen;
    }
    #stop{
        background-color: cornflowerblue;
    }
    #reset{
        background-color: rgb(218, 80, 80);
    }
    
}

/* ============================================================== */

@media only screen and (max-width: 334px){

    body{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    #container{
       color: silver;
      
    }
    .stop{
        text-align: center;
        font-size: 40px;
        color: gold;
    }
    .digit{
        font-size: 30px;
        font-weight: bold;
    }
    .txt{
        font-size: 15px;
        font-weight: bold;
    }
    #btn-container{
        text-align: center;
        margin-top: 40px;
    }
    .btn{
        padding: 7px 25px;
        font-size: 20px;
        margin: 0px 10px;
        color: white;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-bottom: 12px;
    }
    #start{
        background-color: forestgreen;
    }
    #stop{
        background-color: cornflowerblue;
    }
    #reset{
        background-color: rgb(218, 80, 80);
    }
    
}

/* ================================================================= */



@media only screen and (max-width: 271px){

    body{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    #container{
       color: silver;
      
    }
    .stop{
        text-align: center;
        font-size: 30px;
        color: gold;
    }
    .digit{
        font-size: 20px;
        font-weight: bold;
    }
    .txt{
        font-size: 10px;
        font-weight: bold;
    }
    #btn-container{
        text-align: center;
        margin-top: 40px;
    }
    .btn{
        padding: 7px 25px;
        font-size: 20px;
        margin: 0px 10px;
        color: white;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-bottom: 12px;
    }
    #start{
        background-color: forestgreen;
    }
    #stop{
        background-color: cornflowerblue;
    }
    #reset{
        background-color: rgb(218, 80, 80);
    }
    
}
